PORT=7000

MONGO_URI=

JWT_SECRET=
JWT_REFRESH_SECRET=


ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_PHONE=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=